extends index

block body
  div( class = 'poll-form-page')
    form( action = `/polls/${currentPoll._id}`, method = 'post' )
      div
        input( type = 'text', id = 'question', name = 'question', value = currentPoll.question, placeholder = 'Escribe el título', autocomplete = 'off', autofocus)
      div
        textarea( id = 'description', name = 'description', rows = '8', placeholder = 'Escribe el texto ...' )= currentPoll.description
      div
        input( type = 'text', id = 'choiceOne', name = 'choiceOne', value = currentPoll.options[0].text, placeholder = 'Escribe la opción', autocomplete = 'off', autofocus)
      div
        input( type = 'text', id = 'choiceTwo', name = 'choiceTwo', value = currentPoll.options[1].text, placeholder = 'Escribe la opción', autocomplete = 'off', autofocus)
      div
        input( type = 'text', id = 'choiceThree', name = 'choiceThree', value = currentPoll.options[2].text, placeholder = 'Escribe la opción', autocomplete = 'off', autofocus)

      div( class = 'form-actions')
        a( href = `/polls/${currentPoll._id}`, class = 'btn' ) Cancelar
        button( type = 'submit', class = 'btn btn-primary' ) Actualizar

  script.
    var textarea = document.getElementById('body');
    var heightLimit = 'innerHeight' in window  ? window.innerHeight : document.documentElement.offsetHeight;
    heightLimit -= 180;

    function adjustHeight() {
      textarea.style.height = ''; // Reset the height
      textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + 'px';
    }

    textarea.oninput = adjustHeight;
    adjustHeight();
